.main-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  overflow-y: scroll;
}

.dashboard-heading {
  color: #ffffff;
  font-family: "Bree Serif";
  text-align: center;
  font-size: 2.5rem;
}
.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.IplDashboardContainer {
  margin-top: auto;
  margin-bottom: auto;
}
.bottom-section {
  padding: 0 15% 0 15%;
}
.ipl-logo {
  width: 50px;

  object-fit: fill;
}
.teamsContainer {
  width: 100%;
}
.teams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: 0px;
}
